<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/my.js"></script>
  <title>
    Todo App
    </title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    </link>
</head>
<body>

<form action="" method="POST">
<input type="text" name="user_input" placeholder="enter a todo..." align:"center">
<input type="submit" name="submit_button" value="entry">
</form>

  <ul>
    <% for(var i=0; i < todos.length; i++){ %>

    <li> <%= todos[i] %> </li>
    <% }; %>
  </ul>
</body>
</html>
