<!DOCTYPE html>
<html>
<head>
  <title>
    Todo App
    </title>
    <link href="style.css" rel="stylesheet" type="text/css"></link>
    <script src="jquery-3.4.1.js"></script>
    <script type="text/javascript" src="todo.js"></script>
</head>
<body>

<form id="user_form">
<input type="text" name="user_input" placeholder="enter a todo..." align:"center">
<input id="click_button" type="submit" text="add item"></submit>
</form>

  <ul>
    <% for(var i=0; i < todos.length; i++){ %>

    <li> <%= todos[i] %> </li>
    <% }; %>
  </ul>

</body>

</html>
